body {
  color: white;
  font-size: 23px;
  background-color: rgb(38, 39, 41);
  margin: 0px;
}
.body-container {
  width: 800px;
  margin: 0 auto;
}
.header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
}
.GlavniNaslov {
  text-align: center;
}
.seznam-tiers {
  line-height: 2.5;
  font-size: 25px;
  font-weight: bold;
  margin-top: 100px;
}
.CompsLink {
  color: rgb(252, 116, 5);
}

.TeamComp .Naslov {
  font-size: 35px;
  margin-top: 50px;
}

.TeamComp .Important {
  font-weight: bold;
}

.TeamComp .Slika {
  margin-top: 30px;
  height: 470px;
}

.TeamComp .Summary {
  line-height: 0.6;
  margin-top: 40px;
}

.NaslovTier {
  text-align: center;
  color: palegoldenrod;
  font-size: 40px;
  font-weight: bold;
  margin-top: 90px;
}
.ImeTierMA {
  font-size: 35px;
  margin-top: 50px;
}
.SlikaMA {
  margin-top: 30px;
  height: 470px;
}
.ImeTierAHRI {
  font-size: 35px;
  margin-top: 50px;
}
.SlikaAHRI {
  margin-top: 30px;
  height: 470px;
}
.ImeTierSS {
  font-size: 35px;
  margin-top: 50px;
}
.SlikaSS {
  margin-top: 30px;
  height: 470px;
}
.ImeTierDUSK {
  font-size: 35px;
  margin-top: 50px;
}
.SlikaDUSK {
  margin-top: 30px;
  height: 470px;
}
